body {
  background-color: #9c6392;
  color: whitesmoke;
}

//navbar
.navbar-toggler {
  background-color: #9c6392;
}

a {
  text-decoration: none;
  &:active {
    background-color: #9c6392;
    color: rgb(31, 17, 17);
  }
}

//titulos
h1 {
  text-align: center;
  font-size: 50px;
  font-style: $tipo-titulo;
  margin-bottom: 30px;
}

h2,
h3,
h4 {
  font-style: $tipo-titulo;
  text-align: center;
  font-size: 40px;
  margin-top: 35px;
}

//partes de exámentes

.partes {
  font-size: 20px;
  text-align: justify;
  flex-direction: row;
  margin-left: 16px;
  padding: 20px;
  .media {
    margin: 0 auto;
    height: 100%;
    width: 50%;
  }
}

.speaking,
.listening,
.writing,
.reading {
  border: 2px solid white;
  padding: 20px;
  margin-top: 35px;
  p,
  ul {
    &:hover {
      background-color: white;
      color: #9c6392;
    }
  }
}

//formulario

.formulario {
  margin: 40px;
  background-image: linear-gradient(to bottom, #9c6392, #c198ad);
  border: 2px solid;
  padding: 30px;

  button {
    color: whitesmoke;
    background-color: #9c6392;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    padding: 0 15px;
    margin-bottom: 25px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      background-color: #9c6392;
      color: whitesmoke;
      border: 1px solid whitesmoke;
    }
  }
}

//footer

.grid-footer {
  grid-area: grid-footer;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border: 2px solid whitesmoke;
}
