.boton {
    color: whitesmoke;
    background-color: #9c6392;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    padding: 0 15px;
    margin-bottom: 25px;
    height: 32px;
    font-size: 14px;
    margin: 0 auto;
    cursor: pointer;
   
  }
  
  .boton-subscribir {
    @extend .boton;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      background-color: whitesmoke;
      color: #9c6392;
      border: 1px solid whitesmoke;
    }
  }
  
  .btn1 {
    @extend .boton;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      background-color: #9c6392;
      color: whitesmoke;
      border: 1px solid whitesmoke;
    }
  }